---
http_interactions:
- request:
    method: get
    uri: http://www.onthesnow.com/colorado/snow-rss.html
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: |+
        <?xml version="1.0" encoding="UTF-8"?>
        <rss version="2.0"
         xmlns:blogChannel="http://backend.userland.com/blogChannelModule"
         xmlns:ots="http://www.onthesnow.com/ots_rss_namespace/"
        >
        <channel>
        <title>RSS feed for snow reports of ski resorts in Colorado</title>
        <link>/colorado/skireport.html?XE_AFF=rss</link>
        <description>RSS feed for snow reports of ski resorts in Colorado.</description>
        <language>en-us</language>
        <copyright>Copyright 2012, OnTheSnow. Commercial use of this feed is prohibited without specific written approval from Mountain News. For commercial use feeds, please visit MountainNews.com</copyright>
        <image>
        <title>OnTheSnow</title>
        <url>http://www.onthesnow.com/ots/images/logo_image/en/OTS_logo_244x58gif.gif</url>
        <link>http://www.onthesnow.com</link>
        </image>
        <item>
        <title>Arapahoe Basin Ski Area Colorado</title>
        <description>Open / Past 48 Hours:  / 0 / Slopes, top station:  / Machine Groomed / Base Depth:  / 18</description>
        <guid isPermaLink="true">/colorado/arapahoe-basin-ski-area/skireport.html?XE_AFF=rss</guid>
        <pubDate>Sat,  9 Nov 2013 05:31:19 +0000</pubDate>
        <ots:open_staus>Open</ots:open_staus>
        <ots:resort_id>20</ots:resort_id>
        <ots:base_depth>18</ots:base_depth>
        <ots:snowfall_48hr>0</ots:snowfall_48hr>
        <ots:region_name>Colorado</ots:region_name>
        <ots:surface_condition>Machine Groomed</ots:surface_condition>
        <ots:base_depth_metric>inches</ots:base_depth_metric>
        <ots:snowfall_48hr_metric>inches</ots:snowfall_48hr_metric>
        <ots:resort_rss_link>/colorado/arapahoe-basin-ski-area/snow.rss</ots:resort_rss_link>
        </item>
        <item>
        <title>Aspen / Snowmass Colorado</title>
        <description>No Report Available / Past 48 Hours:  / 0 / Slopes, top station:  / N/A / Base Depth:  / </description>
        <guid isPermaLink="true">/colorado/aspen-snowmass/skireport.html?XE_AFF=rss</guid>
        <pubDate>N/A</pubDate>
        <ots:open_staus>No Report Available</ots:open_staus>
        <ots:resort_id>25</ots:resort_id>
     [...]
